:root {
    --color-medium-green: #0c6f30;
    --color-green: #0a9e40;
    --color-gray-green: #687864;
    --color-dark-blue: #31708E; 
    --color-medium-blue: #5085A5;
    --color-light-blue: #8FC1E3;
    --color-white: #F7F9FB;
}

footer {
    font-family: 'Raleway', sans-serif;
    height: 10vh;
    background-color: transparent;
    /*border-top:  3px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--color-white);
}

footer a {
    text-decoration: none;
    color: var(--color-light-blue);
}

footer a:visited {
    color: var(--color-green);
}

footer a:hover {
    cursor: pointer;
}

footer a:active {
    color: var(--color-medium-green);
}
